<nav class="navbar navbar-default" role="navigation" ng-controller="Header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">AngularJS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true" aria-hidden="false">
            <ul class="nav navbar-nav">
               <li ng-class="{active: currentMenuItem === '/'}"><a href="#/">Home</a></li>
               <li ng-class="{active: currentMenuItem === '/books'}"><a href="#/books">Books</a></li>
                <li ng-class="{active: currentMenuItem === '/authors'}"><a href="#/authors">Authors</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li ng-if="!isLogged()" ng-class="{active: currentMenuItem == '/login'}">
                 <a href="#/login">Authorization</a>
               </li>
                <li class="p-t-10">
                    <lang-switcher></lang-switcher>
                </li>
                <li>
                    <form class="form-inline text-right m-t-5" ng-submit="search()" style="margin-left: 10px">
                        <input class="form-control" type="text" placeholder="{{'Search' | translate}}" ng-model="searchString">
                        <button class="btn btn-secondary" type="submit">{{'Search' | translate}}</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>